body{
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #9ec8b9;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px;
}

h2{
    color: #9ec8b9f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3{
    color: #5C8374;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #1B4242;
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}

.ajay_picture{
    width: 200px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.footer-link{
    color: #5C8374;
}